body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  /* REMOVE overflow: hidden */
}


.login-bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-container {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  text-align: center;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.login-title {
  color: #fff;
  font-size: 22px;
  margin-bottom: 15px;
}

.error-msg {
  color: red;
  font-size: 14px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  margin-bottom: 10px;
  outline: none;
}

.login-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.login-btn {
  padding: 12px;
  background: #03A9F4;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #0288D1;
  transform: scale(1.05);
}